
<?php

//Default timezone
date_default_timezone_set('Europe/Warsaw');

//Łaczymy się z bazą

//Nazwa użytkownika
$user = "youruser";

//Hasło
$pass = "yourpass";

//Nazwa bazy danych
$database = "pptkeyuploader";


$db = new mysqli('localhost', 'youruser', 'yourpass', 'pptkeyuploader');

if($db->connect_errno > 0){
    die('Unable to connect to database [' . $db->connect_error . ']');
}

//Ustawiamy kodowanie:

$query_utf = "SET NAMES `utf8`";

if(!$result = $db->query($query_utf)){
    die('There was an error running the query [' . $db->error . ']');
}

?>
